.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-500);
    box-shadow:  4px 4px 8px var(--shadow-color1),-4px -4px 8px var(--shadow-color2);
    z-index: 1;
  }

.title-image {
  width: 250px;
}
