:root {
	--secondary-900: rgba(62, 85, 102, 1);
	--secondary-800: rgba(81, 111, 133, 1);
	--secondary-700: rgba(104, 143, 172, 1);
	--secondary-600: rgba(134, 184, 220, 1);
	--secondary-500: rgba(147, 202, 242, 1);
	--secondary-400: rgba(169, 213, 245, 1);
	--secondary-300: rgba(183, 219, 246, 1);
	--secondary-200: rgba(205, 231, 249, 1);
	--secondary-100: rgba(222, 239, 251, 1);
	--secondary-50: rgba(244, 250, 254, 1);
	--primary-900: rgba(106, 33, 39, 1);
	--primary-800: rgba(139, 43, 51, 1);
	--primary-700: rgba(180, 55, 66, 1);
	--primary-600: rgba(230, 71, 85, 1);
	--primary-500: rgba(253, 78, 93, 1);
	--primary-400: rgba(253, 113, 125, 1);
	--primary-300: rgba(254, 136, 146, 1);
	--primary-200: rgba(254, 174, 180, 1);
	--primary-100: rgba(254, 200, 205, 1);
	--primary-50: rgba(255, 237, 239, 1);
	--bg-light-900: rgba(91, 93, 97, 1);
	--bg-light-900-stroke: rgba(233, 235, 248, 1);
	--bg-light-800: rgba(119, 122, 127, 1);
	--bg-light-800-stroke: rgba(233, 235, 248, 1);
	--bg-light-700: rgba(154, 157, 164, 1);
	--bg-light-700-stroke: rgba(233, 235, 248, 1);
	--bg-light-600: rgba(197, 201, 210, 1);
	--bg-light-600-stroke: rgba(233, 235, 248, 1);
	--bg-light-500: rgba(217, 221, 231, 1);
	--bg-light-500-stroke: rgba(233, 235, 248, 1);
	--bg-light-400: rgba(225, 228, 236, 1);
	--bg-light-400-stroke: rgba(233, 235, 248, 1);
	--bg-light-300: rgba(230, 232, 239, 1);
	--bg-light-300-stroke: rgba(233, 235, 248, 1);
	--bg-light-200: rgba(238, 239, 244, 1);
	--bg-light-200-stroke: rgba(233, 235, 248, 1);
	--bg-light-100: rgba(243, 244, 248, 1);
	--bg-light-100-stroke: rgba(233, 235, 248, 1);
	--bg-light-50: rgba(251, 252, 253, 1);
	--bg-light-50-stroke: rgba(233, 235, 248, 1);
	--bg-dark-900: rgba(10, 14, 21, 1);
	--bg-dark-900-stroke: rgba(233, 235, 248, 1);
	--bg-dark-800: rgba(13, 19, 28, 1);
	--bg-dark-800-stroke: rgba(233, 235, 248, 1);
	--bg-dark-700: rgba(17, 24, 36, 1);
	--bg-dark-700-stroke: rgba(233, 235, 248, 1);
	--bg-dark-600: rgba(22, 31, 46, 1);
	--bg-dark-600-stroke: rgba(233, 235, 248, 1);
	--bg-dark-500: rgba(24, 34, 51, 1);
	--bg-dark-500-stroke: rgba(233, 235, 248, 1);
	--bg-dark-400: rgba(70, 78, 92, 1);
	--bg-dark-400-stroke: rgba(233, 235, 248, 1);
	--bg-dark-300: rgba(100, 107, 118, 1);
	--bg-dark-300-stroke: rgba(233, 235, 248, 1);
	--bg-dark-200: rgba(149, 153, 161, 1);
	--bg-dark-200-stroke: rgba(233, 235, 248, 1);
	--bg-dark-100: rgba(183, 186, 192, 1);
	--bg-dark-100-stroke: rgba(233, 235, 248, 1);
	--bg-dark-50: rgba(232, 233, 235, 1);
	--bg-dark-50-stroke: rgba(233, 235, 248, 1);

    
}
